
<div class="contact-list-container">
    <div class="contact-list-section">
        <table class="contact-table">
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th> 
            <tr *ngFor="let contact of contacts" 
            class="contact-row"
            (click)="handleContactRowClick($event)"
            attr.data-user-id="{{contact.userId}}">
                <td class="contact-cell">
                    {{contact.fname}} {{contact.lname}}
                </td>
                <td class="contact-cell">
                    {{contact.email}}
                </td>
                <td class="contact-cell">
                    {{contact.phone}}
                </td>
            </tr>
        </table>
    </div>
    <div class="contact-list-section ">
        <div class="contact-title" *ngIf="!selectedContact">
            Click on a Contact to see their details!
        </div>
        <contact-detail-ui *ngIf="selectedContact"
        [selectedContact]="selectedContact">
        </contact-detail-ui>
    </div>
</div>
